{% set data = load_data(path=src) %}

<ul class="block-list">
    {% for item in data %}
    <li class="block-item">
        <h3 class="block-item-dates">{{ item.year }}</h3>
        <h2 class="block-item-title">{{ item.title }}</h2>
        <h2 class="block-item-degree">{{ item.degree }}</h2>
        <h4 class="block-item-description">{{ item.description }}</h4>
        {% for button in item.buttons_list %}
            <a href={{ button.link }} class="button">{{ button.name }} </a>
        {% endfor %}
        </li>
    {% endfor %}
</ul>
